# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Environment
.env
.env.local
.env.production

# OS
.DS_Store
*.pem

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/app/*.keystore

# Metro
.metro-health-check*

# Logs
*.log

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo
